
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
body {
  background-color: #ff69b4;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nombreSitio{
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}
 #grupoCards div{
      max-width: 18rem;
      min-width: 15rem
 }